$website-width: 1280px;
$main-color: #00ffac;
$primary-color: #ffbc00;
$light-color: #14f4f4;
$medium-color: #cc5;
$dark-color: rgb(8, 3, 44);
$landing-color: rgba(13, 110, 139, 0.75);
$header-color: rgba(255, 200, 0, 0.7);
