.locate {
  display: flex;
  &-bottom {
    margin-top: 5rem;
  }
}

.btn-primary,
.btn-light,
.btn-dark,
.btn-gray,
.btn-danger,
.btn-green {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 2%;
}

.btn-primary {
  color: #333;
  background-color: $primary-color;
}

.btn-green {
  color: #333;
  background-color: #33aa00;
}

.btn-gray {
  color: #333;
  background-color: #bbbbbb;
}

.btn-light {
  color: #333;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

.btn-primary:hover {
  color: #333;
  background-color: #ffac00;
}

.btn-gray:hover {
  color: #333;
  background-color: #cfcfcf;
}

.btn-green:hover {
  color: #333;
  background-color: #339900;
}

.nav-item .nav-link {
  color: #111122;
}
