@import "config";
@import "utility";
@import "media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app > div {
  padding: 3rem;
}

.main-container {
  overflow: auto;
}

.container {
  height: 100%;
  padding: 0;
  margin: auto;
  float: center;

  .dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.navbar {
  max-height: 4rem;
}

.bg-main {
  background: $medium-color;
}

.bg-header {
  background: $header-color;
}

.menubar {
  position: relative;

  z-index: 999;
}

#landing {
  margin: 0;
  padding: 1.5rem;
  background: $landing-color;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#landing:before {
  content: "";
  background: url("./utils/img/layout_i1.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#landing .landing-container {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90%;

  #typewriter {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 8rem;
  }
}
